.dark{

    background-color: black !important;
}

.dark-container{
    position: absolute;
    top: 15px;
    right: 40px;
    z-index: 10 ;
}

@media screen and (max-width: 480px) {
    .dark-container {
        position: absolute;
        top: 15px;
        right: 80px;
        z-index: 10 ;
    }
  }